<p-toast></p-toast>
<h1 class="text-center fs-2">Update news</h1>
<div class="card">
  <form
    [formGroup]="editForm"
    (ngSubmit)="update()"
    class="p-3 d-flex flex-column gap-2"
  >
    <mat-form-field class="w-50" [appearance]="'outline'">
      <mat-label>Title</mat-label>
      <input matInput required formControlName="title" />
      <mat-error
        *ngIf="
          editForm.get('title')?.hasError('required') &&
          editForm.get('title')?.touched
        "
      >
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Preview</mat-label>
      <textarea matInput required formControlName="preview"></textarea>
      <mat-error
        *ngIf="
          editForm.get('preview')?.hasError('required') &&
          editForm.get('preview')?.touched
        "
      >
        Preview is required
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Content</mat-label>
      <textarea matInput required formControlName="content"></textarea>
      <mat-error
        *ngIf="
          editForm.get('content')?.hasError('required') &&
          editForm.get('content')?.touched
        "
      >
        Content is required
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="newsTypeId">
        <mat-option *ngFor="let type of listTypes" [value]="type.id">{{
          type.newsTypeName
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          editForm.get('newsTypeId')?.hasError('required') &&
          editForm.get('newsTypeId')?.touched
        "
      >
        Type is required
      </mat-error>
    </mat-form-field>
    <div class="d-flex gap-2">
      <button [disabled]="editForm.invalid" class="btn btn-success">
        Save
      </button>
      <!-- <button type="button" class="btn btn-danger" (click)="reset()">
        Reset
      </button> -->
      <button type="button" class="btn btn-secondary" [routerLink]="['/news']">
        Cancel
      </button>
    </div>
  </form>
</div>
