<h2 class="text-center">INJECTION SCHEDULE LIST</h2>
<div class="form-container">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <div>
      <label for="entries">Show</label>
      <select id="entries" class="form-select d-inline-block w-auto" (change)="onItemsPerPageChange($event)">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="25">25</option>
      </select>
      <label for="entries">entries</label>
    </div>
    <input type="text" class="form-control w-auto" placeholder="Search" aria-label="Search" (input)="onSearch($event)">
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Vaccine</th>
        <th>Time</th>
        <th>Place</th>
        <th>Status</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of filteredSchedules"
          (click)="selectSchedule(schedule)">
        <td>
          <a [routerLink]="['/injection-schedule/details', schedule.id]">{{schedule.vaccineName}}</a>
        </td>
        <td>From <strong>{{schedule.startDate | date: 'yyyy/MM/dd'}}</strong> to <strong>{{schedule.endDate | date: 'yyyy/MM/dd'}}</strong></td>
        <td>{{schedule.place}}</td>
        <td [style.background-color]="getStatusBackgroundColor(schedule.status)">{{ schedule.status }}</td>
        <td>{{schedule.description}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Label to display the selected schedule information -->
  <div *ngIf="selectedScheduleId">
    <label class="alert alert-info">
      Selected Vaccine: {{selectedSchedule?.vaccineName}}, {{selectedSchedule?.startDate | date: 'yyyy-MM-dd'}} to {{selectedSchedule?.endDate | date: 'yyyy-MM-dd'}}, {{selectedSchedule?.place}}
    </label>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <span>Showing {{(currentPage - 1) * itemsPerPage + 1}} to {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} of {{totalItems}} entries</span>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-3 mb-0">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" (click)="$event.preventDefault(); onPageChange(currentPage - 1)" tabindex="-1" [attr.aria-disabled]="currentPage === 1">«</a>
        </li>
        <li class="page-item" *ngFor="let page of getPagesArray()"
            [class.active]="currentPage === page">
          <a class="page-link" href="#" (click)="$event.preventDefault(); onPageChange(page)">{{page}}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
          <a class="page-link" href="#" (click)="$event.preventDefault(); onPageChange(currentPage + 1)">»</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <button class="btn btn-success me-2" (click)="navigateToAdd()">New Injection Schedule</button>
    <button class="btn btn-warning me-2" (click)="navigateToUpdate()" [disabled]="!selectedScheduleId">Update Injection Schedule</button>
    <button class="btn btn-danger" (click)="deleteSchedule()" [disabled]="!selectedScheduleId">Delete Injection Schedule</button>
  </div>
</div>
